
body {
    overflow: hidden;
    margin: 0;
    font-family: Avenir;
}

body.body-main {
    background-image: url("../img-website/background-oblique.png");
    background-size: cover;
    background-attachment: fixed;
    repeat: no-repeat;
    height: -webkit-fill-available;
    Overflow: initial;

}
.invalid{border-bottom: 1px solid red}

.hidden {
    display: none !important;
}

.displayed {
    display: flex;
}


div.color-top {
    text-align: center;
    background-color: #fff0bd;
    height: 520px;
    display: flex;
    justify-content: center;

}

#mobile-menu {
    display: none;
}

div.nav, div.nav-splash {
    position: absolute;
    display: flex;
    right: 0
}

a.nav {
    padding-right: 70px;
    padding-left: 20px;
    margin-top: 60px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
    color: black;
    text-decoration: none;
}

a.nav:hover {
    transform: scale(1.2, 1.2);
    text-decoration: underline;
}
a.active{
    transform: scale(1.2, 1.2);
    text-decoration: underline;
}

a.home {
    margin-top: 0;
}

a.small {
    font-size: 14px;
}

img.dog-house-icon {
    height: 50px;
    margin-top: 30px;
    margin-left: 56px;
}

div.nav-wrapper {
    display: flex;
    margin-bottom: 70px;
}

img.dog-face {
    margin-top: 213px

}

div.title {
    text-align: center;
    margin-top: 50px;
}

h1.main-title {
    font-size: 50px;
}

h1.form-title-signup {
    margin-top: 10%;
}

h1.form-title-login {
    margin-top: 25%;
}

div.modal-form-cover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

div.login-box {
    background-color: white;
    width: 60%;
    height: 64%;
    display: flex;
    margin: 11% auto;
}

div.signup-box {
    height: 74%;
    margin: 8% auto;
}

div.login-left {
    width: 50%;

    background-color: #fff0bd;
    text-align: center;

}

div.signup-login-right {
    width: 50%;
    text-align: center;
}

img.login-dog {
    width: 50%;
    margin-top: 25%;
    transition: all 0.5s;
}

img.login-dog:hover {
    transform: scale(1.2, 1.2);
}

form {
    display: flex;
    flex-flow: column;
    align-items: center;
}

input {
    border: none;
    border-bottom: 1px solid #fff0bd;
    width: 50%;
    height: 30px;
    margin-top: 20px;
    outline: none;
    font-size: 14px;
    padding-left: 15px;
}

button {
    background-color: #b6c7fc;
    outline: none;
    transition: 0.5s all;
    cursor: pointer;
    border: none;

}

button:hover {
    transform: scale(1.2, 1.2);
    box-shadow: 0px 4px 23px 0px #ccc8c8;
}

button.basic {
    margin-top: 40px;
    width: 30%;
    height: 40px;
    font-weight: 600;
}

div.images-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p.dog-name {
    margin-top: 12px;
    font-weight: 500;
    margin-left: 42px;
}

div.images-container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 40px;
}

h1.empty-page-message {
    text-align: center;
}

div.image {
    position: relative;
    width: 80%;
    max-width: 600px;
    margin-bottom: 100px;

}

div.image-user {
    height: 70px;
    background-color: rgba(255, 255, 255, .8);
}

div.user-min {
    display: flex;
    padding-top: 10px
}


div.image img.photo {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

p.user-nickname {
    padding-left: 33px;
    font-size: 18px;
    font-weight: 500;

}

img.profile-img-min {
    width: 53px;
    height: 53px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 20px
}

div.image-grid-wrapper {
    margin: 0 auto;

}

img.photo {
    max-height: 400px;
}

div.points {
    position: absolute;
    display: flex;
    bottom: -36px;
    width: 100%;
    height: 42px;
    background-color: rgba(255, 255, 255, .8);
}

span.span {
    font-weight: 600;
    padding-left: 10px;
}

svg {
    padding-left: 5px;
    margin-right: 3%;
    padding-top: 6px;
    cursor: pointer;
    height: 30px;
}

svg.green {
    fill: #77dd77;
}

a.link {
    color: gray;
    text-decoration: none;
    padding-top: 20px;
}


/*----------------------------------- UPLOADED PAGE -----------------------------------*/


input[type="file"] {
    display: none;
}

.custom-file-upload {

    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

form.upload-form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

div.upload-img {
    width: 50%;
    padding: 30px;
    margin: 0 auto 70px;
    background-color: rgba(255, 255, 255, .6);

}

input.submit-upload-button {
    width: 20%;
}

div.round {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, .6);
    right: 5px;
    top: 5px;
    cursor: pointer;
}

img#thumbnail {
    width: 200px;
}

img.delete-icon {
    width: 10px;
    margin-top: 7px;

}


img.icon {
    width: 50px;
    margin-right: 10px;
    padding-left: 20px;
}

a.add-information {
    font-weight: 600;
    color: black;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}

div.grid-container-wrapper {
    margin-bottom: 40px;
}

/*----------------------------------- ADD INFORMATION -----------------------------------*/

img.photo-small {
    width: 100%;


}

div.small {
    width: 38%;
}

h2 {
    margin: 0;
}

div.content-add-info {
    width: 50%;
    text-align: center;
}

input.add-info {
    box-shadow: 0px 4px 23px 0px #ccc8c8;
    width: 60%;
    margin-top: 25px;
    height: 40px;

}

textarea {
    padding-left: 15px;
    border: none;
    margin-top: 30px;
    width: 60%;
    box-shadow: 0px 4px 23px 0px #ccc8c8;
    font-size: 14px;
}

div.add-info-container {
    padding-top: 0 !important;
}

/*----------------------------------- WINNER PAGE -----------------------------------*/
div.split-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 25px;

}

div.winner-image {
    margin-bottom: 10px;
    margin-top: 65px;
    z-index: -1;
}

img.img-of-the-day {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

img.baloons {
    position: absolute;
    width: 125%;
    bottom: 16px;
    right: -65px;
}

div.content {
    width: 30%;
    text-align: center;

}

div.baloon-cover-wrapper {
    width: 100%;
    z-index: 100;
    position: absolute;
    animation-fill-mode: forwards;
    animation-name: move-baloons;
    animation-duration: 7s;
}

img.baloon-cover {
    width: 100%;
}

@keyframes move-baloons {
    from {
        bottom: -1000px
    }
    to {
        bottom: 1000px
    }
}


/*----------------------------------- PROFILE -----------------------------------*/

div.details-section {
    margin-top: 100px;
    display: flex;
    height: -webkit-fill-available;
}

form.upload-form-profile {
    background-color: rgba(255, 255, 255, .6);
    width: 35%;
    height: 300px;
    margin-left: 11%;

}

img.upload-icon {
    width: 120px;
}

label.profile-upload-img {
    margin-top: 20%;
    cursor: pointer;
}

p.profile-text {
    font-size: 23px;
}


img.thumbnail-profile {
    max-height: 205px;
    width: auto;
    padding-top: 30px;
}

input.submit-profile-button {
    width: 35%;
}

div.profile-img {
    position: relative;
    margin-left: 11%;
}

img.profile-img {
    margin: auto;
    height: 300px;
}

div.profile-info {
    margin-left: 7%;
}

button.profile {
    height: 46px;
    font-size: 15px;
    font-weight: 500;
    background-color: #b6c7fc;
    margin-top: 30px;
    width: 100%;
}

div.profile-buttons {
    display: flex;
    flex-flow: column
}

/*----------------------------------- IMAGE DETAILS -----------------------------------*/
div.img-detail {
    justify-content: space-around;

}

img.dog-img-detail {

    width: 100%;
    object-fit: cover;
}

div.img-profile-text {
    display: flex;
    justify-content: space-between;
    padding: 0 10px
}

/*----------------------------------- ADMIN -----------------------------------*/
h1.admin-title {
    text-align: center;
    font-weight: 400;
    margin: 80px 0 50px;
}

table {

    width: 80%;
    margin: auto;
    text-align: left;
    border-collapse: collapse
}

tr.head {
    background-color: #b6c7fc
}

tr {
    background-color: rgba(182, 199, 252, 0.2);

}

td, th {
    border-top: 1px solid #b6c7fc;
    padding-left: 30px;
    height: 60px;
}

div.round-admin {
    position: inherit;
}

img.edit-icon {
    width: 13px;
    margin-top: 6px;

}
th{width: 20%}
th.icon-head-cell{
    width:10%;
}

td.icon-cell {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;

}

div.blocked-unblocked {

    width: 25px;
    height: 25px;
    border-radius: 20px;
    text-align: center;
}
div.blocked{background-color: 	#fcb6c7}
div.active{background-color: 	#77dd77}


/*----------------------------------- QUERIES -----------------------------------*/

@media only screen and (max-width: 990px) {
    div.nav {
        display: none !important;
    }

    #mobile-menu {
        display: block;
    }

    .sidenav {
        height: 0;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: white;
        overflow-x: hidden;
        transition: 0.5s;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: black;
        display: block;
        transition: 0.2s;
        text-align: center;
    }

    .nav-links {
        margin-top: 150px;
    }

    .sidenav, .closebtn {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 25px;
        padding: 0px 25px;
    }

    a.closebtn {
        padding: 32px 25px;
    }

    #openNav {
        position: absolute;
        right: 0;
        top: 0;
        padding: 32px 25px;
        font-size: 25px;
        z-index: 1;
    }

    div.login-box {

        margin: 5% auto;
    }

    div.login {
        margin: 17% auto;
        height: 400px;
    }

    img.dog-face {
        width: 350px;
        margin-top: 180px;
    }

    div.login-left {
        width: 33%;
    }

    div.color-top {
        height: 353px;
    }

    div.signup-login-right {
        width: 67%;
        margin: auto;
    }

    div.login-box {
        width: 91%
    }

    input {
        width: 72%
    }

    svg {
        margin-right: 1.5%;
    }

    h1.form-title-login {
        margin-top: 0
    }

    h1.main-title {
        font-size: 27px;
    }

    p.dog-name {
        margin-left: 20px
    }

    div.images-container-grid {
        grid-template-columns: 1fr 1fr;
    }

    div.image {
        position: relative;
        width: 80%;
        max-width: 600px;
        margin-bottom: 100px;
    }
}


@media only screen and (max-width: 420px) {

    body.body-main {
        background-attachment: scroll
    }


    img.dog-house-icon {
        height: 27px;
        margin-top: 28px;
        margin-left: -9px;
    }

    a.small {
        font-style: 14px;
    }


    div.color-top {
        height: 329px;
    }

    img.dog-face {
        width: 300px;
        margin-top: 180px;
    }

    input {
        width: 86%
    }

    div.login-left {
        display: none;
    }

    div.signup-box {
        height: 94%
    }

    button.basic {
        width: 66%;

    }

    div.points {
        display: block;
        bottom: -83px;
        width: 100%;
        height: 89px
    }

    div.img-profile-text {
        display: block;
    }

    div.images-container-grid {
        grid-template-columns: 1fr;
    }

    div.image-grid-wrapper {
        margin-bottom: 30px !important;
    }

    div.image {
        width: 95%;
        margin-bottom: 130px;
    }

    div.winner-image {

        margin-bottom: 10px;
        margin-top: 10px;
    }

    body.body-main {

    }

    form.upload-form {
        flex-direction: column;
    }

    input.submit-upload-button, input.submit-profile-button {
        width: 60%;
        background-color: #b6c7fc;
        height: 40px;

    }

    p {
        margin-top: 6px
    }

    div.small {

        margin: 0 auto 30px auto;
    }

    div.content-add-info {
        width: 100%;
        margin-top: 20px;
        text-align: left;

    }

    div.profile-info {
        margin: 20px 0 0 0;
        text-align: center;
    }

    div.profile-buttons {
        width: 60%;
        margin: 0 auto 30px auto;
    }

    div.details-section {
        display: block;
    }

    div.round-profile {
        right: 21px;
        top: 10px;
    }

    div.profile-img {
        text-align: center;
        margin: 0;
    }

    form {
        margin-bottom: 30px;
    }

    form.upload-form-profile {

        width: 86%;
        height: 200px;
        margin: auto;
    }

    input.add-info {
        width: 84%;
    }

    h2.add-details {
        margin-left: 20px;
    }

    div.content {
        width: 100%
    }

    img.upload-icon {
        width: 80px;
    }

    img.thumbnail-profile {
        max-height: 109px;
        width: auto;
        padding-top: 12px;
    }

    div.upload-img {
        width: 75%;
    }

    div.split-container {
        display: block;

        padding-top: 10px;
    }

    @keyframes move-baloons {
        from {
            bottom: -500px
        }
        to {
            bottom: 700px
        }
    }
}